
.menu {
    display: flex;
    gap: 25px;
}


.container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.row {
    display: flex;
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
}

.square {
    width: 100%;
    border: 1px solid black;
    filter: brightness(100%);
    
}


