
.container {
    display: flex;
    box-sizing: border-box;
    width: 900px;
    height: 900px;
    border: 1px solid black;
}

.row {
    display: flex;
    width: 100%;
    border: 1px solid black;
}